.container {
    width: 1236px;
    margin: auto;
    outline: solid 2px yellow;
}
.header-flex {
    display: flex;
    height: 420px;
    justify-content: space-around;

}

.banner-flex{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;

}
.image img{
     
     height: auto;
     width: 100%;
}
.banner-flex .image{
    height: 570px;
    width: 1121px;
    outline: solid 2px red;
    padding: 10px; 
}
.ourgoals-flex{
    display:flex;
    justify-content: space-evenly;
    padding: 30px;
}
.mani img{
    height: autopx;
    width: 360px;
}
.ourgoals-flex .mani{
    height: 464px;
    width: 1121px;
    padding: 20px;
}

.faq-flex{
    height: 300px;
    line-height: 50px;
}
.fab-flex .number{
height: 50px;
}
.contact-flex{
    display: flex;
    justify-content: space-between;
}
.contact-flex .contact{
    height: 300px;
    width:50%;
    outline: solid 2px blue;
}
.legal-flex{
    height: 200px;
}