.container {
    width: 1260px;
    margin: auto;
    outline: solid 2px blue;
}
.header-flex {
    display: flex;
    height: 420px;
    justify-content: space-around;
}
.header-flex img{
    height: auto;
    width: 100%;
}
.banner-flex{
  display: flex;
  justify-content: space-evenly;
}
.image img{
     height: 410px;
     width: 550px;
}
.banner-flex .image{
    height: 570px;
    width: 1120px;
    outline: solid 2px black;
    padding: 10px; 
}
.ourgoals-flex{
    display: flex;
    justify-content: space-evenly;
    height: 456px;
    width: 1120px;
}
.image-1 img{
    height: 224px;
    width: 360px;
    padding: 10px;
    margin-left: 100px;
}
.image-2 img{
    height: 224px;
    width: 360px;
    padding: 10px;
    
}
.image-3 img{
    height: 224px;
    width: 360px;
    padding: 10px;
    
}

.faq-flex{
    height: 300px;
    line-height: 50px;
}
.fab-flex .number{
height: 50px;
}
.contact-flex{
    display: flex;
    justify-content: space-between;
}
.contact-flex .contact{
    height: 300px;
    width:50%;
    outline: solid 2px blue;
}
.legal-flex{
    height: 200px;
}