.container {
    width: 1260px;
    margin: auto;
    height: 80vh;
}

.header {
    background: url(../hero-bg.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.header-flex {
    height: 420px;
}

.header-flex h1 {
    padding-top: 20px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font: initial;
    font-size: 36px;
    margin: 0;
    line-height: 1;
    font-weight: 200;
    letter-spacing: 3px;
}

.header-flex h2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin: 0 0 10px 0;
    padding-top: 70px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    line-height: 56px;
    color: #222;
}

.header-flex p {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

form {
    text-align: center;
    padding: 40px;
}

.input-1 input {
    ;
    padding-left: 15px;
    line-height: 2px;
    border-radius: 50px;
    box-shadow: none;
    font-size: 14px;
    border: 0;
    padding: 0px 15px 2px 20px;
    width: 250px;
    height: 40px;
    margin: 0 8px;
}
.butt {
    padding-top: 30px;
    
}
.butt button{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: none;
    color: #fff;
    background: #fd680e;
}

.banner-flex {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

.image img {
    height: auto;
    width: 100%;
}

.banner-flex .image {
    height: 570px;
    width: 1120px;
    padding: 10px;
}

.ourgoals-flex {
    display: flex;
    justify-content: space-evenly;
    height: 456px;
    width: 1120px;
    padding-top: 180px;
}

.image-1 img {
    height: 224px;
    width: 360px;
    padding: 10px;
    margin-left: 100px;
}

.image-2 img {
    height: 224px;
    width: 360px;
    padding: 10px;

}

.image-3 img {
    height: 224px;
    width: 360px;
    padding: 10px;

}

.faq-flex {
    height: 300px;
    line-height: 50px;
}

.fab-flex .number {
    height: 50px;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
}

.contact-flex .contact {
    height: 300px;
    width: 50%;
    outline: solid 2px blue;
}

.legal-flex {
    height: 200px;
}